/* PC */
@media (min-width: 64em) {

}

/* Tablet & mobile */
@media (max-width: 63.9375em) {
    .other-btn {
        padding: 15px 16px;
        font-size: 16px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .contact-info {
        line-height: 2;
    }
    .socials-list {
        font-size: 48px;
        
    }
    .socials-list a {
        margin-top: 0 8px;
    }
    #footer .copyright a {
        padding: 12px 0;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */
@media (max-width: 46.1875em) {

    .s-full-width {
        width: 100% !important;
    }

    #content .member-item {
        width: 100%;
        margin-top: 30px;
    }
    #content .member-img {
        width: 60%;
        height: auto;
    }

    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .mobile-menu-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .s-col-full {
        width: 100% ;
    }

    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav >li > a {
        display: block;
    }
    #nav .subnav {
        position: initial;
        background-color: #000;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 36px;
    }
    
    .s-mt-8 {
        margin-top: 8px;
    }
    .contact-form {
        margin-top: 32px;
    }
    
}